In [11]:
# Q1. Frequency Mapping with Conditions
# Given a list of words:
# words = ["data", "science", "AI", "python", "data", "code", "python"]

# Write a Python program to create a dictionary where:
# - Keys are words
# - Values are their frequencies
# - Include only those words whose length is greater than 3
# Do not use the count() method.
# - by dictionary comprehension -you can use count method.
words=["data", "science", "AI", "python", "data", "code", "python"]
d={}
for i in words:
    if len(i)>3:
        if i in d:
            d[i]+=1
        else:
            d[i]=1
print(d)

{'data': 2, 'science': 1, 'python': 2, 'code': 1}

In [28]:
# Q2. Dictionary Value Grouping
# Given a dictionary of student marks:
# marks = {
#     "Ankit": 90,
#     "Ravi": 85,
#     "Neha": 90,
#     "Aman": 80
# }

# Create a new dictionary where:
# - Marks become keys
# - Student names are stored in a list as values
marks = {
    "Ankit": 90,
    "Ravi": 85,
    "Neha": 90,
    "Aman": 80
}
d={}
for i,j in marks.items():
    if j not in d:
        d[j]=[]
    d[j].append(i)
print(d)

{90: ['Ankit', 'Neha'], 85: ['Ravi'], 80: ['Aman']}

In [17]:
# Q3. Nested Dictionary Update
# Given the following dictionary:
# students = {
#     "S1": {"Python": 70, "SQL": 60, "PowerBI": 40},
#     "S2": {"Python": 85, "SQL": 70, "PowerBI": 30},
#     "S3": {"Python": 60, "SQL": 55, "PowerBI": 50}
# }

# Increase the Python marks by 5 only for students whose total marks are less than 180.
# Modify the dictionary in-place.
students = {
    "S1": {"Python": 70, "SQL": 60, "PowerBI": 40},
    "S2": {"Python": 85, "SQL": 70, "PowerBI": 30},
    "S3": {"Python": 60, "SQL": 55, "PowerBI": 50}
}
for i,j in students.items():
    total=sum(j.values())
    if total<180:
        j["Python"] += 5
print(students)

{'S1': {'Python': 75, 'SQL': 60, 'PowerBI': 40}, 'S2': {'Python': 85, 'SQL': 70, 'PowerBI': 30}, 'S3': {'Python': 65, 'SQL': 55, 'PowerBI': 50}}

In [23]:
# Q4. Dictionary Comprehension with Logic
# Given a list of numbers:
# nums = [10, 15, 21, 22, 30, 33, 40]

# Create a dictionary where:
# - Keys are numbers divisible by 3
# - Values are 'even' or 'odd' depending on the number
# Use dictionary comprehension.
nums=[10, 15, 21, 22, 30, 33, 40]
print({i:"even" if i%2==0 else "odd" for i in nums if i%3==0})

{15: 'odd', 21: 'odd', 30: 'even', 33: 'odd'}

In [26]:
# Q5. Sales Aggregation
# Given sales data:
# sales = [
#     {"product": "Laptop", "amount": 50000},
#     {"product": "Mobile", "amount": 20000},
#     {"product": "Laptop", "amount": 55000},
#     {"product": "Tablet", "amount": 15000},
#     {"product": "Mobile", "amount": 25000}
# ]

# Write a program to calculate total sales per product using a dictionary.
sales = [
    {"product": "Laptop", "amount": 50000},
    {"product": "Mobile", "amount": 20000},
    {"product": "Laptop", "amount": 55000},
    {"product": "Tablet", "amount": 15000},
    {"product": "Mobile", "amount": 25000}
]
d={}
for i in sales:
    p=i["product"]
    a=i["amount"]

    if p not in d:
        d[p]=0
    else:
        d[p]+=a     
print(d)

{'Laptop': 55000, 'Mobile': 25000, 'Tablet': 0}

In [46]:
# Q6. Nested Aggregation (Hard)
# Given transaction data:
# transactions = [
#     {"customer": "C1", "amount": 20000},
#     {"customer": "C2", "amount": 15000},
#     {"customer": "C1", "amount": 35000},
#     {"customer": "C3", "amount": 60000},
#     {"customer": "C2", "amount": 40000}
# ]

# Create a dictionary with customer IDs as keys and values as a nested dictionary containing:
# - total_amount
# - transaction_count
# - average_amount (rounded to 2 decimals)

# Include only customers whose total_amount is at least 50,000.

transactions = [
    {"customer": "C1", "amount": 20000},
    {"customer": "C2", "amount": 15000},
    {"customer": "C1", "amount": 35000},
    {"customer": "C3", "amount": 60000},
    {"customer": "C2", "amount": 40000}
]
d={}
for i in transactions:
    cust=i["customer"]
    amt=i["amount"]
    if cust not in d:
        d[cust]={"total": 0,"count": 0}
    d[cust]["total"]+= amt
    d[cust]["count"]+= 1
final_d={}
for j,k in d.items():
    if k["total"]>=50000:
        final_d[j]={"t_amt":k["total"],"t_count":k["count"],"avg_amt":round(k["total"]/k["count"],2)}
print(final_d)

{'C1': {'t_amt': 55000, 't_count': 2, 'avg_amt': 27500.0}, 'C2': {'t_amt': 55000, 't_count': 2, 'avg_amt': 27500.0}, 'C3': {'t_amt': 60000, 't_count': 1, 'avg_amt': 60000.0}}

In [76]:
#Q7. Deep Dictionary Merge (Hard)
# Given two dictionaries:
d1 = {
    "A": 10,
    "B": {"x": 5, "y": 3},
    "C": 7
}

d2 = {
    "A": 5,
    "B": {"x": 2, "z": 9},
    "D": 4
}

# Merge these dictionaries recursively using the following rules:
# - If both values are dictionaries, merge them
# - If both values are integers, add them
# - Otherwise, overwrite with value from d2

for i in d2:
    if i in d1 and type(d1[i])=="dict" and type(d2[i])=="dict":
        for j in d2[i]:
            if j in d1[i]:
                d1[i][j]=d1[i][j]+d2[i][j]
            else:
                d1[i][j]=d2[i][j]
    elif i in d1 and type(d1[i])==int and type(d2[i])==int:
        d1[i]=d1[i]+d2[i]
    else:
        d1[i]=d2[i]
print(d1)

{'A': 15, 'B': {'x': 2, 'z': 9}, 'C': 7, 'D': 4}

In [77]:
# Q8. Dictionary Normalization (Hard)
# Given a dictionary of subject scores:
scores = {
    "Math": 78,
    "Python": 92,
    "SQL": 85,
    "PowerBI": 70
}

# Normalize the values between 0 and 1 using min-max normalization:
# (x - min) / (max - min)
# Store the result in a new dictionary and round values to 2 decimal places.

min_value=min(scores.values())
max_value=max(scores.values())
d= {}
for i in scores:
    d[i]=round((scores[i]-min_value)/(max_value-min_value),2)
print(d)

{'Math': 0.36, 'Python': 1.0, 'SQL': 0.68, 'PowerBI': 0.0}

In [80]:
# Q9. Inverted Index Creation (Hard)
# Given documents:
docs={
    1: "Python is great and Python is fast",
    2: "Data science uses Python",
    3: "Python and SQL are powerful"}
# Create an inverted index dictionary where:
# - Keys are lowercase words
# - Values are lists of document IDs
# - Ignore duplicate document IDs
# - Ignore words with length less than 3
d={}
for i in docs:
    words=docs[i].lower().split()
    for j in words:
        if len(j)>=3:
            if j not in d:
                d[j]=[i]
            else:
                if i not in d[j]:
                    d[j].append(i)
print(d)

{'python': [1, 2, 3], 'great': [1], 'and': [1, 3], 'fast': [1], 'data': [2], 'science': [2], 'uses': [2], 'sql': [3], 'are': [3], 'powerful': [3]}