In [1]:
def sum (a,b):
    c=a+b
    return c

In [3]:
sum(19,10)

29

In [4]:
def mul (a,b):
    c=a*b
    return c

In [5]:
mul(10,60)

600

In [11]:
def leap_year(year):
    if year%4==0:
        if year%100==0:
            if year%400==0:
                return True 
            else:
                return False
        else:
            return True
    else:
        return False

In [12]:
num1=int(input("enter any number:"))
if leap_year(num1):
    print(num1,"leap year")
else:
    print(num1," not leap year")

enter any number: 1800

1800  not leap year

In [13]:
#WRITE A PY FN THAT RETURN WETHER A GIVEN NO IS PRIME OR NOT
#WRITE A P FN THAT RETURN PRIME NO BETWEEN START AND END TAKE USER INPUT 
# write a p fn that return armstrong no btw 1 to 2000
#wpf to return i armstom or not
#wpf that return a febonacci  series
# that return nth term  of febonacii
def prime (n):
    if n==0 or n==1:
        return False 
    elif n >1:
        for i in range (2,n):
            if n%i==0:
                return False 
                break
            else :
                return True
    else:
        return False

In [14]:
num=int (input("enter any no"))
if prime (num):
    print(num,"prime number")
else:
    print(num," not prime number")

enter ant no 4

4  not prime number

def primen (a,b):
    if n==0 or n==1:
        return False 
    elif n >1:
        for i in range (a,b):
            if n%i==0:
                return False 
                break
            else :
                return True 
    else:
        return False

In [34]:
def prim (a,b):
    l=[0]
    for i in range (a,b):
        if i >1:
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                l.append(i)
    return l

In [ ]:
num=int (input("enter any no"))
num=int (input("enter any no"))
prime(3,4)

In [2]:
def arm(num):
    digits = len(str(num))
    total = 0
    temp = num

    while temp > 0:
        digit = temp % 10
        total += digit ** digits
        temp //= 10

    return total == num


num = int(input("Enter a number: "))

if arm(num):
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

Enter a number:  153

Armstrong Number

In [3]:
def armstr():
    result=[]

    for num in range(1, 2001):
        digits=len(str(num))
        total=0
        temp=num

        while temp > 0:
            digit=temp % 10
            total+=digit**digits
            temp//=10

        if total==num:
            result.append(num)

    return result


print(armstr())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634]

In [13]:
def fibonaci(n):
    series=[]
    a=0
    b=1  

    for i in range(n):
    
        series.append(a)
        a, b = b, a + b
        return 
print(fibonaci(3))

None

8

In [21]:
def febonachhi(n):
    a=0
    b=1
    if n==1:
        return a
    elif n==2:
        return b 
    for i in range(3,n+1):
        b=a        c=b
    return c+b

print(febonachhi(5))

2

In [61]:
def feb(n):
    if n==1:
        return [0]
    elif n==2:
        return [0,1]
    febo=[0,1]
    for i in range(2,n):
        next_term=febo[-1]+febo[-2]
        febo.append(next_term)
    
    return febo

In [62]:
print(feb(6))

[0, 1, 1, 2, 3, 5]

In [20]:
def febb(n):
    if n==1:
        return 0
    elif n==2:
        return [0,1]
    feb=[0,1]
    for i in range(2,n):
        nextterm=feb[-1]+feb[-2]
        feb.append(nextterm)
    
    return feb[-1]

SyntaxError: invalid syntax (223188947.py, line 1)

In [68]:
print(febb(3))

1

In [25]:
def summ(number):
    sum=0
    for i in range (0,n):
        sum=+sum
        return sum

In [26]:
print(summ(20,2))

TypeError: summ() takes 1 positional argument but 2 were given

In [2]:
def pallon(s):
    if s==[::-1]:
        return pallendrom
        
    else:
       return not pallendrom

SyntaxError: invalid syntax (431129323.py, line 2)

In [11]:
def palon(num):
    tem=(num)
    rev=0
    while temp>0:
        digit =tem%10
        rev =rev*10+digit
        tem //=10
        return rev==num

In [4]:
def max_min(list):
    maximum=lst[0]
    minimum=lst[0]
for i in list:
    if i>maximum:
        maximum=i
    elif:
        i<minimum
        minimum=i
    return maximum,minimum

SyntaxError: invalid syntax (2718184099.py, line 7)

In [5]:
def sum(n):
    if n==1:
        return 1
    else:
        return n+sum(n-1)

In [6]:
sum(10)

55

In [8]:
def fact(n):
    if n==1:
        return 1
    else: return n*fact(n-1)

In [11]:
fact(5)

120

In [16]:
def fibo(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibo(n-1)+fibo(n-2)

In [17]:
fibo(5)

3

In [21]:
def fibo(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
         return fibo(n-1)+fibo(n-2)

In [31]:
n=int(input("any number"))
for i in range(1,n+1):
    print (fibo(i))

any number 4

0
1
1
2